<form (ngSubmit)="editProject()">
    @if (userRole == 'manager') {
        <label for="project-name">Project name:</label>
        <input class="border-2" type="text" name="project-name" autocomplete="project-name" [(ngModel)]="project.name"
            id="project-name">
        <br>
        <label for="project-start-date">Project start date: </label>
        <input class="border-2" type="date" autocomplete="current-project-start-date" [(ngModel)]="project.start_date"
            name="project-start-date" id="project-start-date">
        <br>
        <label for="project-end-date">Project end date: </label>
        <input class="border-2" type="date" autocomplete="current-project-end-date" [(ngModel)]="project.end_date"
            name="project-end-date" id="project-end-date">
        <div id="leader-container" class="flex flex-wrap" >
            <label for="leader-email-or-username" class="self-center">Project leader email or username: </label>
            @if (project.Users) {
                @if (project.Users.length > 0 ) {
                    @for (leader of project.Users; track $index) {
                        <div class="flex mx-2 px-0.5 border-2 rounded-xl">
                            <span class="leader-info mr-1 ml-0.5">{{leader.username}}</span>
                            <svg (click)="removeUser(leader.username)" class="hover:bg-gray-400 rounded-xl hover:cursor-pointer" width="25px" height="25px"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M16 8L8 16M8.00001 8L16 16" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </div>
                    }
                } @else {
                    <div>The project has no leaders yet!</div>
                }
            }
            <input (change)="addUser()" class="border-2" type="text" autocomplete="current-leader-email-or-username"
                [(ngModel)]="leaderEmailOrUsername" name="leader-email-or-username" id="leader-email-or-username">
        </div>
            @if(errorMessage) {
                <p class="text-red-500">{{errorMessage}}</p>
            }
    } @else if(userRole == 'leader') {
        <div class="project-container flex border-4 rounded-md gap-x-8 flex-wrap w-[fit-content] mx-auto mt-3">
            <div class="project-name-container p-2">
                <div class="">Project name:</div>
                <div class="font-semibold text-center">{{project.name}}</div>
            </div>

            <div class="project-start_date-container p-2">
                <div class="">Project start date:</div>
                <div class="font-semibold text-center">{{project.start_date}}</div>
            </div>

            <div class="project-end_date-container p-2">
                <div class="">Project end date:</div>
                <div class="font-semibold text-center">{{project.end_date}}</div>
            </div>

            <div class="project-phases-container p-2">
                <div class="">Project phases count:</div>
                <div class="font-semibold text-center">{{project.Phases?.length}}</div>
            </div>

            <div class="project-developers-count p-2">
                <div class="">Project developers count:</div>
                <div class="font-semibold text-center">{{project.Users?.length}}</div>
            </div>

            <div class="project-leaders-count p-2">
                <div class="">Project leaders count:</div>
                <div class="font-semibold text-center">{{project.Users?.length}}</div>
            </div>
        </div>
    @if (project.Phases) {
        @if (project.Phases.length > 0){
            <div class="">Phases</div>
            <div class="flex content-center justify-around flex-wrap gap-y-5">
                @for (phase of project.Phases; track $index) {
                    <div class="phase-container border-2 rounded-sm">
                        <!-- Phase header -->
                        <div class="phase-header flex justify-between px-2">
                            <div class="">
                                <div class="font-semibold">{{phase.name}}</div>
                            </div>

                            <div class="flex">
                                <svg class="hover:bg-gray-400 rounded-md hover:cursor-pointer" width="25px" height="25px"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M3.99512 17.2072V19.5C3.99512 19.7761 4.21897 20 4.49512 20H6.79289C6.9255 20 7.05268 19.9473 7.14645 19.8536L16.5942 10.4058L13.5935 7.40518L4.14163 16.8535C4.04782 16.9473 3.99512 17.0745 3.99512 17.2072Z"
                                            fill="#000000"></path>
                                        <path
                                            d="M14.8322 6.16693L17.8327 9.16734L19.2929 7.7071C19.6834 7.31658 19.6834 6.68341 19.2929 6.29289L17.707 4.70697C17.3165 4.3165 16.6834 4.31644 16.2929 4.70684L14.8322 6.16693Z"
                                            fill="#000000"></path>
                                    </g>
                                </svg>

                                <svg class="hover:bg-gray-400 rounded-xl hover:cursor-pointer" (click)="deletePhase(phase)" width="30px"
                                height="30px" fill="#000000" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M20 18h2v16h-2z"></path>
                                        <path d="M24 18h2v16h-2z"></path>
                                        <path d="M28 18h2v16h-2z"></path>
                                        <path d="M12 12h26v2H12z"></path>
                                        <path d="M30 12h-2v-1c0-.6-.4-1-1-1h-4c-.6 0-1 .4-1 1v1h-2v-1c0-1.7 1.3-3 3-3h4c1.7 0 3 1.3 3 3v1z">
                                        </path>
                                        <path
                                        d="M31 40H19c-1.6 0-3-1.3-3.2-2.9l-1.8-24 2-.2 1.8 24c0 .6.6 1.1 1.2 1.1h12c.6 0 1.1-.5 1.2-1.1l1.8-24 2 .2-1.8 24C34 38.7 32.6 40 31 40z">
                                        </path>
                                    </g>
                                </svg>
                            </div>

                        </div>
                        <hr>
                        <!-- Phase body -->
                        <div class="phase-body flex gap-x-10 p-2">

                            <div class="mt-2">
                                <div>Phase deadline: </div>
                                <div class="font-semibold">{{phase.deadline}}</div>
                            </div>
                            <div class="mt-2">
                                <div>Phase start date: </div>
                                <div class="font-semibold">{{phase.start_date}}</div>
                            </div>
                        </div>
                        <!-- Phase tasks -->
                        <div class="phase-tasks">
                            <div class="tasks-title">
                                <div class="">Tasks</div>
                            </div>
                            <div class="flex flex-nowrap">
                                    <app-task-list [taskList]="phase.Tasks" (taskDeletion)="updatePhaseTasks($event, phase)"></app-task-list>
                            </div>
                        </div>

                        <div class="phase-footer">
                            <div class="bg-blue-500 p-2 rounded-xl w-[fit-content] hover:cursor-pointer"
                                (click)="toggleTaskCreation(phase)">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"
                                            fill="#000000"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3Z"
                                            fill="#000000"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        @if (phase.taskCreationMode) {
                            <app-create-task [phaseId]="phase.id" [projectId]="projectId" (taskCreation)="saveTask($event, phase)"></app-create-task>
                        }
                    </div>
                }
            </div>

        } @else {
            <div>The project has no phases yet!</div>
        }
    }
    <div class="bg-green-500 p-2 rounded-xl w-[fit-content] hover:cursor-pointer" (click)="togglePhaseCreation()">
            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"
                        fill="#000000"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3Z"
                        fill="#000000"></path>
                </g>
            </svg>
    </div>
        @if (phaseCreationMode) {
            <app-create-phase [projectId]="projectId" (phaseCreation)="savePhase($event)"></app-create-phase>
        }
    }
    @if (userRole == 'manager') {
        <button class="block bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">Update</button>
    }

</form>
<!-- @if(errorMessage) {
    <p class="text-red-500">{{errorMessage}}</p>
} -->
