<div class="grid grid-cols-1 md:grid-cols-2">
    @if (task) {
    <div class="self-center justify-self-center">
        <h2 class="text-2xl font-bold text-center">Task</h2>
        <mat-card class="example-card high-contrast-card h-64 flex flex-col justify-between w-96">
            <mat-card-header>
                <mat-card-title>{{task.name}}</mat-card-title>
                <mat-card-subtitle>@if(task.Phase?.Project) { {{task.Phase?.Project?.name}} - }{{task.Phase?.name}}</mat-card-subtitle>
                @if (task.userCompleted == 0) {
                    <button mat-raised-button color="primary" (click)="markAsFinished()" class="ml-auto">Finished</button>
                } @else {
                    <button mat-raised-button color="warn" (click)="markAsUnfinished()" class="ml-auto">Not finished</button>
                }
            </mat-card-header>
            <mat-card-content class="overflow-y-auto flex-grow">
                <p class="text-center">{{task.start_date | date:'yyyy/MM/dd'}} - {{task.deadline | date:'yyyy/MM/dd'}}</p>
                <p class="description">{{task.description}}</p>
            </mat-card-content>
            <mat-card-actions class="progress-section">
                <mat-progress-bar mode="determinate" [value]="getProgressValue()"></mat-progress-bar>
                <div class="progress-text">{{task.completedUsersInTask}}/{{task.totalUsersInTask}}</div>
            </mat-card-actions>
        </mat-card>
    </div>
    }
    <form class="mt-5 md:mt-0" (ngSubmit)="addNote()">
        <h2 class="text-2xl font-bold text-center">Add Note</h2>
            <div class="text-center my-2">Write comment as <span class="font-bold">{{userInfo.username}}</span></div>
            <mat-form-field class="w-full px-12 sm:px-32 md:px-16 lg:px-32 pt-3">
                <mat-label>Today's progress</mat-label>
                <textarea  class="flex rounded-md text-sm" id="description" matInput rows="3"
                    placeholder="I have finished the tasks endpoints..." required minlength="10" maxlength="250"
                    [(ngModel)]="userNote.summary" name="summary"></textarea>
            </mat-form-field>
            <div class="flex items-center justify-center">
                <button mat-raised-button color="primary" type="submit">Add note</button>
            </div>
    </form>

</div>

<div class="notes-section mt-5 px-5">
    <h2 class="text-2xl font-bold text-center">Notes</h2>
    <div class="notes-list flex gap-6 flex-wrap mt-2 justify-around">
        @for (note of taskNotes; track $index) {
            <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">{{note.user.username}} - {{note.date | date:'yyyy/MM/dd'}}</h5>
                <p class="font-normal text-gray-700">{{note.summary}}</p>
            </div>
        }
    </div>
</div>
