<div class="flex">
    @if (task) {
        <mat-card class="example-card high-contrast-card h-64 flex flex-col justify-between">
            <mat-card-header>
                <mat-card-title>{{task.name}}</mat-card-title>
                <mat-card-subtitle>@if(task.Phase?.Project) { {{task.Phase?.Project?.name}} - }{{task.Phase?.name}}</mat-card-subtitle>
                @if (task.userCompleted == 0) {
                    <button mat-raised-button color="primary" (click)="markAsFinished()" class="ml-auto">Finished</button>
                } @else {
                    <button mat-raised-button color="warn" (click)="markAsUnfinished()" class="ml-auto">Not finished</button>
                }
            </mat-card-header>
            <mat-card-content class="overflow-y-auto flex-grow">
                <p class="text-center">{{task.start_date | date:'yyyy/MM/dd'}} - {{task.deadline | date:'yyyy/MM/dd'}}</p>
                <p class="description">{{task.description}}</p>
            </mat-card-content>
            <mat-card-actions class="progress-section">
                <mat-progress-bar mode="determinate" [value]="getProgressValue()"></mat-progress-bar>
                <div class="progress-text">{{task.completedUsersInTask}}/{{task.totalUsersInTask}}</div>
            </mat-card-actions>
        </mat-card>


    }
</div>
