<div class="grid grid-cols-1 md:grid-cols-2">
    @if (task) {
    <div class="self-center justify-self-center">
        <h2 class="text-2xl font-bold text-center">Task</h2>
        <mat-card class="example-card high-contrast-card h-64 flex flex-col justify-between">
            <mat-card-header>
                <mat-card-title>{{task.name}}</mat-card-title>
                <mat-card-subtitle>@if(task.Phase?.Project) { {{task.Phase?.Project?.name}} - }{{task.Phase?.name}}</mat-card-subtitle>
                @if (task.userCompleted == 0) {
                    <button mat-raised-button color="primary" (click)="markAsFinished()" class="ml-auto">Finished</button>
                } @else {
                    <button mat-raised-button color="warn" (click)="markAsUnfinished()" class="ml-auto">Not finished</button>
                }
            </mat-card-header>
            <mat-card-content class="overflow-y-auto flex-grow">
                <p class="text-center">{{task.start_date | date:'yyyy/MM/dd'}} - {{task.deadline | date:'yyyy/MM/dd'}}</p>
                <p class="description">{{task.description}}</p>
            </mat-card-content>
            <mat-card-actions class="progress-section">
                <mat-progress-bar mode="determinate" [value]="getProgressValue()"></mat-progress-bar>
                <div class="progress-text">{{task.completedUsersInTask}}/{{task.totalUsersInTask}}</div>
            </mat-card-actions>
        </mat-card>
    </div>
    }
    <div class="notes-section">
        <h2 class="text-2xl font-bold text-center">Notes</h2>
        <div class="notes-list">
            <mat-card *ngFor="let note of notes" class="example-card high-contrast-card h-64">
                <mat-card-content>
                    <p>{{note.summary}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <button mat-raised-button color="warn" (click)="deleteNote(note.id)">Delete</button> -->
                </mat-card-actions>
            </mat-card>
        </div>
</div>

    <form class="mt-5" (ngSubmit)="addNote()">
        <mat-form-field class="w-96">
            <mat-label>Today's progress</mat-label>
            <textarea class="block" matInput name="today-progress" [(ngModel)]="userNote.summary" placeholder="I have finished the tasks endpoints..."></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="ml-auto">Add note</button>
    </form>
