<div class="border rounded-lg p-4 sm:p-6 md:p-8 space-y-4 md:space-y-6">
    <div class="flex flex-col md:flex-row items-start md:items-center justify-between">
        <div class="space-y-1">
            <h2 class="text-xl font-bold md:text-2xl">{{phase.name}}</h2>
            <div class="text-gray-500 text-sm md:text-base">{{phase.start_date | date:'yyyy/MM/dd'}} - {{phase.deadline
                | date:'yyyy/MM/dd'}}</div>
        </div>
        <div class="flex items-center gap-2 mt-4 md:mt-0">
            <button class="inline-flex items-center justify-center text-sm font-medium border h-9 rounded-md px-3">
                Edit
            </button>
            <button class="inline-flex items-center justify-center text-sm font-medium border h-9 rounded-md px-3">
                Delete
            </button>
        </div>
    </div>
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        @for (task of phase.Tasks; track $index) {
            <app-task-mini-card [task]="task"></app-task-mini-card>
        } @empty {
            <div class="flex justify-center items-center w-full h-32 col-span-2 lg:col-span-1 lg:col-start-2">
                <p class="text-xl">No tasks found</p>
            </div>
        }
    </div>
</div>
