.navbar {
    height: 4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    .app-name {
        font-size: 1.05em;
        font-weight: bold;
    }

    .navbar-text {
        color: #62646A;
        font-size: 1.05em;
        font-weight: bold;
    }

    .signup-text {
        color: #ebebeb;
        font-size: 1.05em;
        font-weight: bold;
    }
}

