<nav class="navbar flex flex-row items-center">
    <div class="flex-grow ml-8">
        <div class="app-name-container flex flex-row gap-16">
            <a class="app-name" routerLink="welcome">LearnLinker</a>
            <div class="ml-28">
                <a class="navbar-text" routerLink="welcome">Home</a>
            </div>
        </div>
    </div>
    <div class="flex flex-row gap-8 h-full items-center justify-center">
        <div class="mr-10">
            <a class="navbar-text justify-end" routerLink="welcome">Log in</a>
        </div>
        <div class="mr-8">
            <div class="bg-black p-2 rounded-xl">
                <a class="signup-text p-1" routerLink="welcome">Sign up</a>
            </div>
        </div>
    </div>
</nav>
