<form (ngSubmit)="editProject()">
    <label for="project-name">Project name:</label>
    <input class="border-2" type="text" name="project-name" autocomplete="project-name" [(ngModel)]="project.name" id="project-name">
    <br>
    <label for="project-start-date">Project start date: </label>
    <input class="border-2" type="date" autocomplete="current-project-start-date" [(ngModel)]="project.start_date" name="project-start-date" id="project-start-date">
    <br>
    <label for="project-end-date">Project end date: </label>
    <input class="border-2" type="date" autocomplete="current-project-end-date" [(ngModel)]="project.end_date" name="project-end-date" id="project-end-date">
    @if (userRole == 'manager') {
        <div id="leader-container" class="flex flex-wrap" (click)="removeUserCall($event)">
            <label for="leader-email-or-username" class="self-center">Project leader email or username: </label>
            <input (change)="checkUser()" class="border-2" type="text" autocomplete="current-leader-email-or-username"
                [(ngModel)]="leaderEmailOrUsername" name="leader-email-or-username" id="leader-email-or-username">
        </div>
    }

    <button class="block bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">Send</button>
    @if (project.Users) {
        @if (project.Users.length > 0) {
            @for (leader of project.Users; track $index) {

            }
        } @else {
            <div>The project has no leaders yet!</div>
        }
    }
</form>
<!-- @if(errorMessage) {
    <p class="text-red-500">{{errorMessage}}</p>
} -->

