<form (ngSubmit)="signup()">
    <label class="block" for="username">Username:</label>
    <input class="border-2" [(ngModel)]="user.username" autocomplete="username" type="text" name="username" id="username">
    <label class="block" for="email">Email:</label>
    <input class="border-2" [(ngModel)]="user.email" autocomplete="email" type="text" name="email" id="email">
    <label class="block" for="password">Password:</label>
    <input class="border-2" [(ngModel)]="user.password" type="password" autocomplete="new-password" name="password" id="password">
    <label class="block" for="password_confirmation">Password confirmation: </label>
    <input class="border-2" [(ngModel)]="passwordConfirmation" type="password" autocomplete="new-password" name="password_confirmation" id="password_confirmation">
    <button class="block bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">Register</button>
</form>

@if(errorMessage!= '') {
    <div class="text-red-600">{{errorMessage}}</div>
}
