<div class="w-80  bg-[#F0F0F0] border border-gray-300 text-slate-900 rounded-lg p-3">
    <section class="flex justify-between items-center px-2 pb-3">
        <h2 class="text-xl font-bold">{{phase.name}}</h2>
        <!-- <div class="flex items-center space-x-2">
            <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg text-sm p-1.5" type="button">
                <span class="sr-only">Open dropdown</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                    <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                </svg>
            </button>
            <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                <ul class="py-2" aria-labelledby="dropdownButton">
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Edit</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Export Data</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100">Delete</a>
                    </li>
                </ul>
            </div>
        </div> -->
    </section>
    <section>
        @if (phase.Tasks.length === 0) {
            <p class="text-center">No tasks found</p>
        } @else {
            @for (task of phase.Tasks; track $index) {
                @if (task == phase.Tasks[phase.Tasks.length -1]) {
                    <a [routerLink]="['/task', task.id, 'details']">
                        <div class="bg-gray-100 border border-gray-300 shadow-sm shadow-gray-700 rounded-md p-2.5">
                            {{task.name}}
                        </div>
                    </a>
                } @else {
                    <a [routerLink]="['/task', task.id, 'details']">
                        <div class="bg-gray-100 border border-gray-300 shadow-sm shadow-gray-700  rounded-md mb-3 p-2.5">
                            {{task.name}}
                        </div>
                    </a>
                }
            }
        }
    </section>
</div>

