<div class="board">
    @if(!selectedProject) {
        <div class="flex justify-center items-center w-full h-64">
            <p class="text-xl">You aren't participating in any project yet!</p>
        </div>
    } @else {
    <h1 class="text-2xl font-bold mb-4 text-center">Your Board - {{selectedProject.project_user?.role | titlecase}}</h1>
    <div class="flex justify-around flex-wrap">
        <div class="project-filters">
            <mat-form-field>
                <mat-label>Select a project</mat-label>
                <mat-select [(value)]="selectedProjectId" (valueChange)="loadProject()">
                    @for (project of userProjects; track $index) {
                        <mat-option value="{{project.id}}">{{project.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <div class="project-time-mode">
            <mat-form-field>
                <mat-label>Time</mat-label>
                <mat-select [(value)]="timeMode" (valueChange)="loadProject()">
                    <mat-option value="all">All {{viewMode}}</mat-option>
                    <mat-option value="current">Current {{viewMode}}</mat-option>
                    <mat-option value="past">Past {{viewMode}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div class="project-view">
            <mat-form-field>
                <mat-label>View</mat-label>
                <mat-select [(value)]="viewMode" (valueChange)="loadView()">
                    <mat-option value="tasks">Tasks</mat-option>
                    <mat-option value="phases">Phases</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <app-loading-spinner [isLoading]="isLoading" [color]="'default'"></app-loading-spinner>
}
</div>
<div class="flex flex-wrap space-y-4 gap-1">
    @if (viewMode === 'tasks') {
        @for (task of selectedProjectTasks; track $index) {
            <app-task-card [task]="task" class="block mx-auto my-4"></app-task-card>
        } @empty {
            <div class="flex justify-center items-center w-full h-64">
                <p class="text-xl">No tasks found</p>
            </div>
        }
    } @else {
        @for (phase of selectedProjectPhases; track $index) {
            <app-phase-col [project]="selectedProject" [phase]="phase" (phaseDeletion)="removeTask($event)"
            class="block mx-auto my-4"></app-phase-col>
        } @empty {
        <div class="flex justify-center items-center w-full h-64">
            <p class="text-xl">No tasks found</p>
        </div>
        }
    }
</div>

