<div class="board">
    <h1 class="text-2xl font-bold mb-4 text-center">Your Board - {{selectedProject.project_user?.role | titlecase}}</h1>
    <div class="flex justify-around">
        <div class="project-filters">
            <mat-form-field>
                <mat-label>Select a project</mat-label>
                <mat-select [(value)]="selectedProjectId" (valueChange)="loadProject()">
                    @for (project of userProjects; track $index) {
                        <mat-option value="{{project.id}}">{{project.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="project-time-mode">
            <mat-form-field>
                <mat-label>Time</mat-label>
                <mat-select [(value)]="timeMode" (valueChange)="loadProject()">
                    <mat-option value="all">All {{viewMode}}</mat-option>
                    <mat-option value="current">Current {{viewMode}}</mat-option>
                    <mat-option value="past">Past {{viewMode}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="project-view">
            <mat-form-field>
                <mat-label>View</mat-label>
                <mat-select [(value)]="viewMode" (valueChange)="loadView()">
                    <mat-option value="tasks">Tasks</mat-option>
                    <mat-option value="phases">Phases</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <app-loading-spinner [isLoading]="isLoading" [color]="'default'"></app-loading-spinner>
</div>
<div class="flex flex-wrap space-y-4 gap-1">
    @if (viewMode === 'tasks') {
        @for (task of selectedProjectTasks; track $index) {
            <app-task-card [task]="task" class="block mx-auto my-4"></app-task-card>
        } @empty {
            <div class="flex justify-center items-center w-full h-64">
                <p class="text-xl">No tasks found</p>
            </div>
        }
    } @else {
        @for (phase of selectedProjectPhases; track $index) {
            <app-phase-col [phase]="phase" class="block mx-auto my-4"></app-phase-col>
        } @empty {
        <div class="flex justify-center items-center w-full h-64">
            <p class="text-xl">No tasks found</p>
        </div>
        }
    }
</div>
<div class="flex justify-end px-4 pt-4">
    <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
        <span class="sr-only">Open dropdown</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
            <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
        </svg>
    </button>
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2" aria-labelledby="dropdownButton">
        <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a>
        </li>
        <li>
            <a href="#" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
        </li>
        </ul>
    </div>
</div>
